body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  background-color:rgb(220, 131, 131);
}

/*When the screen is smaller (like on phone) hide side*/
@media screen and (max-width: 1200px) {
  .window_hide { display: none; }  
}

/*When the screen is larger show side*/
@media screen and (min-width: 1201px) {
  #side_right, #side_left {
    /* margin: 5px; */
    /* background-color:white; */
    /* padding: 10px; */
    width: 250px;
  }

  #side_right {
    margin-left: 20px;
  }

  #side_left {
    margin-right: 20px;
  }

}

h1 {
  text-align: center;
  font-size: xxx-large;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
  margin-bottom: 5px;
  font-size: x-large;
}

img {
  align-self: center;
  border-radius: 20px;
  margin: auto; 
  display: block
}

.body_img_left {
  margin-right: 20px; 
  margin-top: 15px;
  width: 225px;
  height: auto;
}

.body_img_right {
  margin-left: 20px;
  margin-top: 15px;
  width: 225px;
  height: auto;
}

button {
  border-radius: 20px;
  border-width: 4px;
  border-style: solid;
  border-color: #BCD6BA; 
  color: #5C4040;
  cursor: pointer;
}

button:hover {
  background-color: #EFA960;
}

#nav {
  height: 40px;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav_name {
  color: #444444;
  font-weight: bold;
}

.nav_name:hover {
  color: #aa0404;
  font-weight: bold;
  border-bottom: 2px solid #aa0404;
}

#main_body {
  margin: 10px;
  /*padding: 10px;*/
  width: 1100px;
}

.main_body_section {
  padding: 10px;
  border-width: 25px;
  border-radius: 25px;
  background-color: #548B63; /*Color used to editing*/
  margin-bottom: 30px;
}

.welcome {
  color: #405C51;
  margin-bottom: 30px;
  text-decoration: underline overline #405C51;
  font-style: italic;
  font-family: Bradley Hand cursive;
  /* background-color: #BCD6BA; 
  background-blend-mode: lighten; */
}

.side {
  overflow-y: hidden;
  max-height: 1000px; /*Change max hight as you add more to page to fit*/
  padding-right: 17px;
}

.side:hover {
  overflow: auto;
  padding-right: 0px;
}

.side_content {
  background-color:white;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;
}

/*Base of popup*/
.popup {
  position: absolute;
  display: none;
  cursor: pointer;
  visibility: hidden;
  border-radius: 5px;
  padding: 1px;
  z-index: 1;
  top: 72%;
  left: 69%;

  background-color: #BCD6BA;
  color: #5C4040;
  text-align: center;
  font-size: medium;
  max-width: 200px;
  border-style: groove;
  border-radius: 5px;
  border-color: #5C4040;
}

.show {
  visibility: visible;
  display: flex;
}

/* .popup #relevant_coursework::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
} */

.highlight {
  color: #BAD6CC;
}

.page_bottom {
  background-color: #405C51;
  color: #BAD6CC;
  padding: 30px;
  border-style: solid;
  border-top-color: #5C4040;
  border-top-width: 5px;
}